<!DOCTYPE html>
<html class="light" id="light">
  <head>
    <title>Acebook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  

    <div id='titlebar'>
      <%= image_tag ("logo_no_bg.png"), class: "img-responsive" %>

      <span id="title">Acebook</span>

    </div>
  </head>

  <body>
  
    <h3>Dark Mode: </h3>
    <label class="switch">
      <input type="checkbox", class="toggle-mode">
      <span class="slider round"></span>
    </label>

    <%= yield %>
  </body>
</html>
